* {
  font-family: "Noto Naskh Arabic", serif;
  font-family: "PT Sans", sans-serif;
}
body {
  background: #ffffff;
}
.prev,
.next {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #002b86;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
/* ////////////////////////////////////////// */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.scroll {
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

html::-webkit-scrollbar-thumb {
  background: #0764a7;
  border-radius: 50px;
}
/* ---------------------------------------------------------- */
.scroll::-webkit-scrollbar {
  height: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: rgb(226, 226, 226);
  border-radius: 20px;
  margin: 50px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #0764a7;
  border-radius: 200px;
}
/* ttttttttttttttttttttttttttttttttttttttttttttttttttttttttttfffttttttttttt */
.slider {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}
.range-slider {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.range-slider .rangeValues {
  display: block;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
  padding: 20px;
  font-size: 22px;
  margin-bottom: 35px;
}
input[type="range"] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 95%;
  position: absolute;
  left: 2.5%;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 95%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #0273a0;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
/* -------------------- itams  page-------------------------- */
