* {
  font-family: "Noto Naskh Arabic", serif;
  font-family: "PT Sans", sans-serif;
}
body {
  background: #ffffff;
}
.prev,
.next {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #002b86;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
/* ////////////////////////////////////////// */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.cute-slide-show {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
}

.slide-item {
  margin-right: 30px;
  cursor: pointer;
}

.slide-item:last-of-type {
  margin-right: 0;
}

.slide-item img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.slide-item .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.slide-item .description {
  font-size: 14px;
  color: #999;
  line-height: 1.5;
  margin-bottom: 0;
}

.scroll {
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

html::-webkit-scrollbar-thumb {
  background: #0764a7;
  border-radius: 50px;
}
/* ---------------------------------------------------------- */
.scroll::-webkit-scrollbar {
  height: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: rgb(245, 245, 245);
  border-radius: 20px;
  margin: 0px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #0764a7;
  border-radius: 0px 0px 5px 5px;
}
/* ttttttttttttttttttttttttttttttttttttttttttttttttttttttttttfffttttttttttt */
.slider {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}
.range-slider {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.range-slider .rangeValues {
  display: block;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
  padding: 20px;
  font-size: 22px;
  margin-bottom: 35px;
}
input[type="range"] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 95%;
  position: absolute;
  left: 2.5%;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 95%;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #0273a0;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
/* -------------------- slow underline ------------------------- */

.slow-underline {
  color: #eee;
  text-decoration: none;
  display: block;
  position: relative;
}
.slow-underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #0e0d0d;
  transition: width 0.5s;
}
.dark::before {
  background-color: #fdebd2;
}
.slow-underline:hover::before {
  width: 200%;
}
/* ------------------- loading ------------------------ */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
